@import url(root.css);

.clienteContenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
    text-align: center;
    gap: 2rem;
}

.clienteContenedor h1{
    font-size: 28px;
    font-weight: 600;
    font-family: var(--poppins);
    color: var(--text);    
    font-style: normal;
    line-height: normal;
}

.clienteContenedor p{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--poppins);
}

.buttonContenedor{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.buttonInnerContenedor{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttonRuta{
    width: 7.875rem;
    height: 7.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.4rem;
    border-radius: 1rem;
    border: 1px solid var(--lightPink);
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(226, 72, 75, 0.13);
}

.buttonRuta:hover{
    background-color: rgba(250, 137, 102, 0.75);
    transition: all 0.2s;
}
.buttonRuta img{
    width: fit-content;
    height: fit-content;
}

.buttonText{
    color: var(--text);
    font-family: var(--poppins);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonRuta:hover .buttonText{
    color: var(--white);
}

.buttonRuta:hover img {
    filter: brightness(0) invert(1); /* convierte el svg a blanco */
    transition: filter 0.2ms ease;
}
