@import url(root.css);

.formContainer{
    width: 100%;
    min-height: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.formInnerContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    gap: 1rem;
}


.title{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%; 
}

.inputContainer{
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    width: 310px;
}

.inputContainer label{
    color: var(--text);
    font-family: var(--poppins);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

.inputContainer input{
    color: var(--text);
    font-family: var(--poppins);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    height: 30px;
    background-color: var(--inputGrey);
    border: none;
}

.inputButtonContainer{
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    width: 310px;
    margin-top: 1rem;
}

.sectionBlock{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.perfilEmpresa .sectionBlock:last-of-type {
    padding-bottom: 2rem;
}


.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.penButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.inputButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.inputsContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 5px;
    justify-content: space-between;
}

.outerContainer{
    margin-top: 2rem;
    height: fit-content;
}

.productosContainer{
    display: flex;
    flex-direction: row;
    height: 29px;
    gap: 20px;
    margin-inline: 1rem;
}

.productoContainer{
    color: var(--text);
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.icons{
    display: flex;
    flex-direction: row;
    height: 19px;
    gap: 5px;
}

.tituloNivel{
    margin-bottom: -3rem;
    margin-top: -1rem;
}


.tituloNivel h3{
    margin-bottom: 1rem;
}

.buttonsContenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    gap: 0.875rem;
}

.linkButtons,
.closeSession,
.deleteSession {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    background: transparent;
    border: none;
    color: var(--text);
    font-size: 14px;
    font-family: var(--poppins);
}

.deleteButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    background: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.deleteButtons img{
    transition: filter 0.2s ease;
}

.deleteButtons:hover img,
.linkButtons:hover img{
    filter:
    brightness(0) saturate(100%)
    invert(53%) sepia(88%) saturate(4800%)
    hue-rotate(350deg) brightness(101%) contrast(101%);
    transition: filter .2s ease;  
}

.deleteSession:hover,
.closeSession:hover,
.linkButtons:hover{
    color: var(--darkOrange);
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}